<h1>Dashboard</h1>
{{#if posts}}
    {{#each posts as |post|}}
        <div class="post">
            <h2>{{post.title}}</h2>
            <p>{{post.content}}</p>
            <!-- Add buttons or links for editing or deleting the post -->
        </div>
    {{/each}}
{{else}}
    <p>You have not posted anything yet.</p>
{{/if}}
<a href="/posts/new">Create New Post</a>
